body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #4ed4ed;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.content .content__aside {
  padding: 20px;
  width: 300px;
  line-height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #9fc35d;
}
.content .content__main {
  flex-grow: 1;
}
.content .content__main .main__article {
  padding-top: 20px;
  height: 100%;
  line-height: 26px;
  background-color: #f6c60f;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #ffa600;
}
